<div class="navbar-header {{app.settings.navbarHeaderColor}}">
  <toaster-container
    toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"
  ></toaster-container>
  <button
    class="pull-right visible-xs dk"
    ui-toggle-class="show"
    data-target=".navbar-collapse"
  >
    <i class="glyphicon glyphicon-cog"></i>
  </button>
  <button
    class="pull-right visible-xs"
    ui-toggle-class="off-screen"
    data-target=".app-aside"
    ui-scroll="app"
  >
    <i class="glyphicon glyphicon-align-justify"></i>
  </button>
  <a href="#" class="navbar-brand text-lt">
    <!-- <i class="fa fa-btc"></i
    > -->
    <!-- <img src="img/a0.jpg" alt="." /> -->
    <span class="hidden-folded m-l-xs"><small>{{app.name}}</small></span></a
  >
</div>
<div
  ng-controller="AppCtrl"
  class="collapse pos-rlt navbar-collapse box-shadow bg-blue {{app.settings.navbarCollapseColor}}"
>
  <div class="nav navbar-nav hidden-xs">
    <a href class="btn no-shadow navbar-btn" ng-click="showHideMenu()">
      <i
        class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"
      ></i>
    </a>
    <a
      href
      class="btn no-shadow navbar-btn"
      ui-toggle-class="show"
      target="#aside-user"
    >
      <i class="icon-user fa-fw"></i>
    </a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li class="hidden-xs"><a ui-fullscreen></a></li>
    <li class="dropdown" dropdown>
      <a href class="dropdown-toggle clear" dropdown-toggle>
        <span class="thumb-xl avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
          <img
            src="{{app.logo}}"
            alt="..."
            class="pull-right"
            style="border-radius: 0;width: 60%;s"
          /><br />
          <span class="hidden-sm hidden-md pull-right"
            >{{app.loginName}}<b class="caret"></b
          ></span>
          <!--<i class="on md b-white bottom"></i>-->
        </span>
        <!--<span class="hidden-sm hidden-md">{{app.loginName}}<b class="caret"></b></span>-->
      </a>
      <!-- dropdown -->
      <ul class="dropdown-menu animated fadeInRight w">
        <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
          <center><div>Settings</div></center>
        </li>

        <li><a ui-sref="app.page.profile">Profile</a></li>
        <!--<li ng-if="app.loginRoleType == 'PH'">-->
        <li >
          <a ui-sref="app.table.chngpwd">Change Password</a>
        </li>
        <li class="divider"></li>
        <li>
          <a ui-sref="access.signin" ng-click="logout()">Logout</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
