<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">Navigation</span>
  </li>
  <li ui-sref-active="active">
    <!--<a ui-sref="app.dashboard-v1">-->
    <a ui-sref="app.rxdashboard">
      <i class="fa fa-th-large icon text-primary-dker"></i>
      <span class="font-bold">Dashboard</span>
    </a>
  </li>
  <!--25-02-2016 Aakash Start-->
  <!--    <li ui-sref-active="active">
            <a ui-sref="app.table.patient">
                <i class="fa fa-user text-info-dker"></i>
                <span class="font-bold" >Resident</span>
            </a>
        </li> -->

  <!--<li ng-if="app.loginRoleCode == 'NHADM'">-->
  <li
    ng-if="app.loginRoleCode == 'NHADM' || app.loginRoleCode == 'NURADM' || app.loginRoleCode == 'NURDOC'"
  >
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="fa fa-wheelchair icon text-primary-dker"></i>
      <span class="font-bold" translate="Home">Home</span>
    </a>
    <ul class="nav nav-sub dk">
      <!--             <li ui-sref-active="active">
                            <a ui-sref="app.table.facility">
                                <i class="fa  fa-wheelchair text-info-dker"></i>
                                <span class="font-bold" >Home</span>
                            </a>
                        </li>-->
      <li ui-sref-active="active">
        <a ui-sref="app.table.patient">
          <i class="fa fa-user text-info-dker"></i>
          <span class="font-bold">Resident</span>
        </a>
      </li>
      <!-- <li ui-sref-active="active">
        <a ui-sref="app.table.binder">
          <i class="fa fa-paperclip text-white"></i>
          <span class="font-bold">Binder</span>
        </a>
      </li> -->
      <li ui-sref-active="active">
        <a ui-sref="app.table.ward">
          <i class="fa fa-puzzle-piece text-info-dker"></i>
          <span class="font-bold">Unit</span>
        </a>
      </li>
      <li ui-sref-active="active" ng-if="app.loginRoleCode == 'NHADM'">
        <a ui-sref="app.table.nhuser">
          <i class="fa fa-users text-info-dker"></i>
          <span class="font-bold">User</span>
        </a>
      </li>
    </ul>
  </li>
  <!--25-02-2016 Aakash END -->
  <!--<li ng-hide="app.loginPlan=='PL_SILVER'">
        <a href class="auto">      
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-cog icon text-primary-dker"></i>
            <span class="font-bold" translate="System">System</span>
        </a>
        <ul class="nav nav-sub dk">            
            <li ui-sref-active="active">
                <a ui-sref="app.pendashboard">
                    <i class="fa fa-th-large text-info-dker"></i>
                    <span class="font-bold" >Dashboard</span>
                </a>
            </li>

        </ul>
    </li>-->
  <li ui-sref-active="active">
    <a ui-sref="app.table.binder">
      <i class="fa fa-paperclip text-white"></i>
      <span class="font-bold">Resident Binder</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.table.newadmission">
      <!-- <i class="fa fa-video-camera text-white"></i> -->
      <img src="img/newadmissionxxxhdpi.png" />
      <span class="font-bold">New Admission </span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.table.virtualvisit">
      <i class="fa fa-video-camera text-white"></i>
      <span class="font-bold">Virtual Visit </span>
      <!--<span class="font-bold">Page Information</span>-->
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.table.viewer">
      <i class="fa fa-bullseye text-info-dker"></i>
      <span class="font-bold">Viewer</span>
      <!--<span class="font-bold">Page Information</span>-->
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.table.printpage">
      <i class="glyphicon glyphicon-print text-info-dker"></i>
      <!--<span class="font-bold">Print Information</span>-->
      <span class="font-bold">Print Queue</span>
    </a>
  </li>
  <!--    <li>
            <a href class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-cog icon text-primary-dker"></i>
                <span class="font-bold" translate="Form Order">Form Order</span>
            </a>
            <ul class="nav nav-sub dk">-->
  <!--            <li ui-sref-active="active">
                    <a ui-sref="app.table.formpageorder">
                        <i class="glyphicon glyphicon-sort-by-order text-info-dker"></i>
                        <span class="font-bold">Order Form</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.table.formpatientorder">
                        <i class="glyphicon glyphicon-sort-by-order text-info-dker"></i>
                        <span class="font-bold">Resident Form</span>
                    </a>
                </li>-->
  <!--            <li ui-sref-active="active">
                    <a ui-sref="app.table.orderform">
                        <i class="glyphicon glyphicon-sort-by-order text-info-dker"></i>
                        <span class="font-bold">Order Status</span>
                    </a>
                </li>
    
            </ul>
        </li>-->
  <li ui-sref-active="active">
    <a ui-sref="app.table.orderform">
      <i class="glyphicon glyphicon-sort-by-order text-info-dker"></i>
      <span class="font-bold">Paper Order Status</span>
      <!--<span class="font-bold">Digital Form Order Status</span>-->
    </a>
  </li>
  <!--<li ui-sref-active="active">
        <a ui-sref="app.table.unprintviewer">
            <i class="glyphicon glyphicon-edit text-info-dker"></i>
            <span class="font-bold">Un print</span>
        </a>
    </li>
    <li ui-sref-active="active" ng-hide="app.loginPlan=='PL_SILVER'">
        <a ui-sref="app.table.lcd">
            <i class="fa fa-sliders  text-info-dker"></i>
            <span class="font-bold">LCD</span>
        </a>
    </li>-->
  <!--    <li ui-sref-active="active">
            <a ui-sref="app.table.papertype">
                <i class="glyphicon  icon-user text-info-dker"></i>
                <span class="font-bold">Paper Type</span>
            </a>
        </li>-->
  <!--    <li ui-sref-active="active">
            <a ui-sref="app.table.role">
                <i class="glyphicon  icon-user text-info-dker"></i>
                <span class="font-bold">Role master</span>
            </a>
        </li>    -->
  <!--    <li ng-show="app.loginRoleCode == 'NHADM'">
            <a href class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-cog icon text-primary-dker"></i>
                <span class="font-bold" translate="Setting">Setting</span>
            </a>
            <ul class="nav nav-sub dk">
                <li ui-sref-active="active">
                    <a ui-sref="app.table.table_userguide">
                        <i class="fa fa-th-large text-info-dker"></i>
                        <span class="font-bold">User Manual</span>
                    </a>
                </li>
            </ul>
        </li>-->
  <li>
    <!--<a href class="auto">      
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-cog icon text-primary-dker"></i>
            <span class="font-bold" translate="Help">Help</span>
        </a>-->
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a ui-sref="app.table.table_userguide">
          <i class="fa fa-th-large text-info-dker"></i>
          <span class="font-bold">User Manual</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="line dk hidden-folded"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.your_stuff.YOUR_STUFF">Your Stuff</span>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.page.profile">
      <i class="fa fa-user text-success-lter"></i>
      <!--<b class="badge bg-success pull-right">30%</b>-->
      <span class="font-bold">Profile</span>
    </a>
  </li>
</ul>
<!-- / list -->
