
  <div class="modal-body" id="modal-body">
    <h4 class="text-center">{{title}}</h4>
    <div ng-if="!isOtherSignature">
      <canvas class="signature-canvas" id="canvas" drawing ></canvas>
    </div>
    <div ng-if="isOtherSignature">
      <canvas class="signature-canvas" id="canvas" drawing ></canvas>
    </div>
    
  </div>
  <div class="modal-footer">
    <button ng-if="!isOtherSignature" class="btn btn-primary" type="button" ng-click="ok()">SIGN</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>